@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/nvd3/src/nv.d3.css";

@iconSpritePath: "../images/glyphicons-halflings.png";
@iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

.jumbotron {
  background:url('https://farm5.staticflickr.com/4066/4635643822_00d2c91ed6_o_d.jpg') no-repeat;
  background-size:100% auto;
}


.footer { background: #eee; padding:1em 0; }

svg {
  display: block;
}

#chart1 svg{
  height: 500px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 10px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}

body .navbar-fixed-top {
	background: #fff url('http://opendata.utou.ch/alps/res/opendata_logo2.png') no-repeat 1% center;
	border-bottom:1px solid red;

	.primary { font-weight: bold; }
	.active { background: #eee; }
}

#sport-choose { display:none; float:right; }

.sport-title { text-align: center; }

h1 { 
	color: white !important;
	small { color:#e11; } 
}

.sport-buttons {

	overflow-y: auto;
	max-height: 20em;

	.btn {
		width: 150px; height: 50px; margin: 5px;
		white-space: inherit; overflow-x: hidden;
		border: none;
		background: #ddd;
		opacity: 0.8;
		vertical-align: bottom;
		font-weight: bold;
	}

	.btn:hover { background: #fff; }

	/*.btn i {
		width: 150px; height: 50px; margin: -5px -10px;
		opacity: 0.2;
		display: block; position: absolute;
		background: url("../images/icons/globe_1_icon&48.png") no-repeat 50% 90%;
	}*/

}